.post-type-archive-credential {
	.credential {
		header.article-header {
			padding-bottom: 0;

			h2 {
				margin: 0;
			}
		}
	}
}

.credential {
	#main > article {
		@include card;
		background: white;
		max-width: 40rem;
		margin: $gutter auto;
		padding: $gutter 4rem;
	}
	.article-header {
		padding: $gutter 0;
		float: left;
		width: 100%;
		.edit-link {
			left: auto;
			right: 1rem;
		}
	}
	.entry-content {
		padding: 0;
		width: 100%;
		float: left;
		.account {
			border-bottom: 1px solid $gray;
			padding-bottom: $gutter;
			&:last-of-type {
				border-bottom: 0;
			}
		}
	}
	#respond {
		padding: $gutter 0;
		width: 100%;
		float: left;
	}
}